<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
	<head>
		<title/>
	</head>
	<body>
		<div id="Content"/>
		<span class="Item"/>
		<ul><li/></ul>
		<span class="Item"/>
		<div id="Articles">
			<div class="Article">
				<h1/>
				by <span class="Author"/>
				<div/>
			</div>
		</div>
		<a href="" id="RemoveMe">I shouldn't be here!</a>
		<a href="" id="EmptyMe">I should be empty!</a>
		<div id="Function"/>
		<span class="Generated"/>
		<div class="Generated"/>
		<div id="Person">
			<span class="Name"/>
			<span class="Address"/>
		</div>
		<div id="DOM"/>
	</body>
</html>